<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Sign in Form with Facebook and Twitter Buttons</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href='../lib/fullcalendar/main.css' rel='stylesheet' />
  <script src='../lib/fullcalendar/main.js'></script>

  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialDate: '2020-06-12',
        editable: true,
        selectable: true,
        businessHours: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: [
          {
            title: 'All Day Event',
            start: '2020-06-01'
          },
          {
            title: 'Long Event',
            start: '2020-06-07',
            end: '2020-06-10'
          },
          {
            groupId: 999,
            title: 'Repeating Event',
            start: '2020-06-09T16:00:00'
          },
          {
            groupId: 999,
            title: 'Repeating Event',
            start: '2020-06-16T16:00:00'
          },
          {
            title: 'Conference',
            start: '2020-06-11',
            end: '2020-06-13'
          },
          {
            title: 'Meeting',
            start: '2020-06-12T10:30:00',
            end: '2020-06-12T12:30:00'
          },
          {
            title: 'Lunch',
            start: '2020-06-12T12:00:00'
          },
          {
            title: 'Meeting',
            start: '2020-06-12T14:30:00'
          },
          {
            title: 'Happy Hour',
            start: '2020-06-12T17:30:00'
          },
          {
            title: 'Dinner',
            start: '2020-06-12T20:00:00'
          },
          {
            title: 'Birthday Party',
            start: '2020-06-13T07:00:00'
          },
          {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: '2020-06-28'
          }
        ]
      });

      calendar.render();
    });

  </script>
  <style>

    #calendar {
      max-width: 1100px;
      margin: 0 auto;
    }

  </style>
  </head>
  <body>

<% if (logged) { %>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">La Maison des Chaudoudoux</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/"><span class="glyphicon glyphicon-home"></span> Accueil</a></a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon glyphicon-th"></span> Tableau de Bord
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard">Planning</a></li>
              <li><a href="/report">Relever mes heures</a></li>
              <li><a href="/profile">Profil</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://chaudoudoux.app">Quitter la DEMO</a></li>
          <li><a href="/signin"><span class="glyphicon glyphicon-log-out"></span> Se Déconnecter</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div id='calendar'></div>
      </div>
    </div>
<% } else { %>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">La Maison des Chaudoudoux</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Accueil</a></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://chaudoudoux.app">Quitter la DEMO</a></li>
        <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Se Connecter</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>Chaudoudoux App Intervenants <span style="color : #ff3366">v0.1</span> DEMO</h1>
        <p>La version de démonstration est volontairement restreinte à quelques fonctionalités</p>
        <p>Pour les besoins de la démonstration et pour des raisons de sécurité les données affichées sont aussi volontairement fictives et sont remises par defaut chaque jour avec des données choisies par nos soins</p>
        <p>Pour vous connecter à cette démonstration, l'utilisateur est <span style="color : #ff3366">unicorn1</span> et le mot de passe <span style="color : #ff3366">IAMateapot101</span></p>
      </div>
    </div>
  </div>
<% } %>
  </body>
</html>
