<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Sign in Form with Facebook and Twitter Buttons</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">La Maison des Chaudoudoux</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/home"><span class="glyphicon glyphicon-home"></span> Accueil</a></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Se Connecter</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>Chaudoudoux App <span style="color : #ff3366">v0.1</span> production</h1>
        <p>Version en cours de développement</p>
        <p>Vous serez avertis quand une version finale sera prête à l'emploi et disponible sur <a href="https://github.com/nazimboudeffa/chaudoudoux-app">GitHub</a></p>
      </div>
    </div>
  </div>

</body>
</html>
