<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

  <%- include partials/header.ejs %>

  <% if (logged) { %>
      <div class="container">
        <div class="row">
          <div class="jumbotron">
            <h1>Profil</h1>
            <p>Ceci est votre profil</p>
          </div>
        </div>
      </div>
  <% } else { %>
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h1>Chaudoudoux App Intervenants <span style="color : #ff3366">v0.1</span> DEMO</h1>
          <p>La version de démonstration est volontairement restreinte à quelques fonctionalités</p>
          <p>Pour les besoins de la démonstration et pour des raisons de sécurité les données affichées sont aussi volontairement fictives et sont remises par defaut chaque jour avec des données choisies par nos soins</p>
          <p>Pour vous connecter à cette démonstration, l'utilisateur est <span style="color : #ff3366">unicorn1</span> et le mot de passe <span style="color : #ff3366">IAMateapot101</span></p>
        </div>
      </div>
    </div>
  <% } %>

</body>
</html>
